extends layout

block content

    .jumbotron
        .container
            h1 How May I Help You?
            p Lorem ipsum dolor sit amet, consectuare adipucliorus elit. Loboratis , lusctus quis lacus
            a.btn.btn-primary.btn-lg(href='') Learn more &raquo;

    .container
        .row
            .col-md-4
                h2 About Us
                p Donec Edit id non mi porta at eget metus. Fusco sapisus tellus us cursus lkodisu ureyreas oasdl  tortor mauris aopeodidus makis
                a.btn.btn-default(href='/about') View Details
            .col-md-4
                h2 Services
                p Donec Edit id non mi porta at eget metus. Fusco sapisus tellus us cursus lkodisu ureyreas oasdl  tortor mauris aopeodidus makis
                a.btn.btn-default(href='#') View Details
            .col-md-4
                h2 Get In Touch
                p Donec Edit id non mi porta at eget metus. Fusco sapisus tellus us cursus lkodisu ureyreas oasdl  tortor mauris aopeodidus makis
                a.btn.btn-default(href='#') View Details